.file-input-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centrato orizzontalmente */
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dropZone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 2px dashed #1ed50adb;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  color: #1ed50adb;
  font-weight: 500;
  background-color: #121214;
}

.hidden-file-input {
  display: none;
}
