.file-input-container {
  display: flex;
  justify-content: center; /* Centrato orizzontalmente */
  align-items: center;
  margin-top: 20px;
}

.hidden-file-input {
  display: none;
}

.custom-file-button {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 2rem; /* Unità relative per dimensioni responsive */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunta transizione per box-shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiunta ombra */
}

.custom-file-button:hover {
  background-color: #45a049; /* Verde scuro */
  transform: scale(1.05);
}

.custom-file-button:active {
  background-color: #3e8e41; /* Verde ancora più scuro */
  transform: scale(0.95);
}

.custom-file-button:focus {
  outline: 2px solid #45a049; /* Stile per stato attivo */
}
