:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #E1E1E6;
  background-color: #121214;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #8257E5;
  text-decoration: none;
}

a:hover {
  color: #996DFF;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #E1E1E6;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.input-description {
  width: 100%;
  height: 350px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #323238;
  background-color: #202024;
  color: #E1E1E6;
  margin: 10px 0;
}

.input-title, .input-tag, .input-account, .input-password, .input-datetime, .posting-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #323238;
  background-color: #202024;
  color: #E1E1E6;
}

.posting-button {
  background-color: #8257E5;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.posting-button:hover {
  background-color: #996DFF;
  transform: scale(1.05);
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.button-logoff-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-overlay p {
  color: white;
  margin-top: 10px;
}
